.footer {
  margin-top: 50px;
  padding: 2rem;
  border-top: 2px solid lightgrey;
  background-color: #6d3465;
  color: white;

}


.footer-content {
  max-width: 1000px;
padding-right: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-logo {
  height: 80px;
  width: auto;
}

.footer-text {
  flex: 1;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
  }

  .footer-logo {
    height: 80px;
  }
}