@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --brand-purple: #6f2c7f; /* tweak to match your palette */
  --text-on-purple: #fff;
  --header-h: 80px;
}

@media (min-width: 600px) {

  :root {
    --header-h: 100px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.page {
  min-height: 100dvh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack vertically */
}

main {
  flex: 1; /* Take up remaining space */
}

html {
  font: 1em / 1.5 "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 2.7rem;
  color: #333;
}

h2 {
  color: #333;
}

a {
  color: #6d3465;
}

p {
  font-size: 1em;
  margin: 0.75rem 0 1.5rem;
}

.highlightText {
  background-color: yellow;
}

/**
 * Content container
 *
 * The main content on a page should be wrapped in
 * this class to give it a max width and center it
 * on the screen.
 */
.content-wrapper {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Page container
 *
 * Main content blocks on each page should be
 * wrapped in one of these classes to separate
 * it from the header/footer.
 */
.page-wrapper {
  max-width: 1000px;
  padding: 0.75rem 1.5rem;
}

.page-wrapper-shaded {
  background-color: #f0eaef;
  position: relative;
  margin-top: -30px;
  margin-bottom: -50px;
}

@media (min-width: 600px) {

  .page-wrapper {
    padding: 1.5rem 3rem;
  }
}
